<h1>New Review</h1>

<%= simple_form_for([@restaurant, @review]) do |r| %>
  <div class="form-inputs">
    <%= r.input :rating %>
    <%= r.input :content %>
  </div>

  <div class="form-actions">
    <%= r.button :submit, class: "btn btn-success" %>
  </div>
<% end %>

<%= link_to 'Back', restaurants_path(@restaurant), class: "btn btn-secondary" %>
